@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green: #c3ef3c;
  --dark-green: #004021;
  --lighter-dark-green: #005e32;
  --darker-dark-green: #002d17;

  --secondary: #db7093;
}

body {
  background-color: var(--dark-green);
  color: #ddd;
  font-family: sans-serif;
}

h1,
h2 {
  text-align: center;
  font-family: "Overpass", sans-serif;
}

pre {
  margin: 0 auto;
  width: max-content;
}

pre code {
  white-space: pre-wrap;
}

.cubes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 24em auto;
  justify-items: center;
}

.cube {
  font-size: 4em;
  width: 2em;
  transform-style: preserve-3d;
  transform: rotateX(-32deg) rotateY(32deg);
  /* TODO: is everything ok? */
}

.side {
  border-radius: 5px;
  position: absolute;
  width: 2em;
  text-align: center;
  line-height: 2em;
  opacity: 0;
  font-family: "Overpass", sans-serif;
}

.top {
  transform: rotateX(90deg) translateZ(1em);
  background-image: linear-gradient(#c3ef3caa, #c3ef3caa);
  height: 2em;
  animation: fade-in linear;
  animation-timeline: view();
}

.left {
  transform: rotateY(-90deg) translateZ(1em);
  background-image: linear-gradient(
    var(--light-dark-green) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation-timeline: view();
}

.front {
  transform: translateZ(1em);
  background-image: linear-gradient(
    var(--darker-dark-green) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation-timeline: view();
}

.cube:nth-child(1) .front,
.cube:nth-child(1) .left {
  animation: fade-in linear, rise-fastest linear;
}

.cube:nth-child(2) .front,
.cube:nth-child(2) .left {
  animation: fade-in linear, rise-faster linear;
}

.cube:nth-child(3) .front,
.cube:nth-child(3) .left {
  animation: fade-in linear, rise-fast linear;
}

.cube:nth-child(4) .front,
.cube:nth-child(4) .left {
  animation: fade-in linear, rise linear;
}

@keyframes rise-fastest {
  0% {
    height: 0em;
  }

  20% {
    height: 6em;
  }

  100% {
    height: 6em;
  }
}

@keyframes rise-faster {
  0% {
    height: 0em;
  }

  30% {
    height: 6em;
  }

  100% {
    height: 6em;
  }
}

@keyframes rise-fast {
  0% {
    height: 0em;
  }

  40% {
    height: 6em;
  }

  100% {
    height: 6em;
  }
}

@keyframes rise {
  0% {
    height: 0em;
  }

  50% {
    height: 6em;
  }

  100% {
    height: 6em;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

footer {
  text-align: center;
  margin-top: 4em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
