.border-tube-blue {
  border-image-slice: 31;
  border-image-width: 28px;
  border-image-outset: 4px;
  border-image-repeat: stretch stretch;
  border-image-source: url("tube-blue.svg");
  border-style: solid;
  padding: 20px;
  border-radius: 2em;
}

.border-tube-blue[class*=" glow"],
.border-tube-blue[class*="glow "] {
  box-shadow: 0 0 42px 8px #1589FF;
}
