.border-tube-green {
  border: 28px solid transparent;
  border-image-slice: 31;
  border-image-width: 28px;
  border-image-outset: 4px;
  border-image-repeat: stretch stretch;
  border-image-source: url("tube-green.svg");
  border-style: solid;
  padding: 20px;
  border-radius: 2em;
}

.border-tube-green[class*=" glow"],
.border-tube-green[class*="glow "] {
  box-shadow: 0 0 42px 8px #C3EF3C;
}
