.border-tube-yellow {
  border-image-slice: 31;
  border-image-width: 28px;
  border-image-outset: 4px;
  border-image-repeat: stretch stretch;
  border-image-source: url("tube-yellow.svg");
  border-style: solid;
  padding: 20px;
  border-radius: 2em;
}

.border-tube-yellow[class*=" glow"],
.border-tube-yellow[class*="glow "] {
  box-shadow: 0 0 42px 8px #FDBD01;
}
