.page-nav-header {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.hero h2 {
  max-width: 64ch;
}

.hero-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125%;
  height: 125%;

  @media (max-width: 800px) {
    width: 100%;
    height: 200%;
    margin: 5rem auto;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 3rem;
  margin: 2rem auto;
}

.project {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--fart-darker-dark-green);
}

.blog-post-preview-list {
  display: grid;
  gap: 2rem;
}

.hljs {
  background-color: var(--fart-darker-dark-green);
}
